// 这个是 Butterfly 主题用于整个网站背景的元素
// !important 会强制覆盖其他样式
#web_bg {
    background-image: url("/img/sweden2.PNG") !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-attachment: fixed !important;
}

// 为了保险起见，也给 body 设置一下，尽管 #web_bg 应该足够了
body {
    background-image: url("/img/sweden2.PNG") !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-attachment: fixed !important;
}